$style-border-radius: 5px;
$style-dark-color-contrast: #ffffff;
$style-drawer-background: #ffffff;
$style-text-color: #1f1f1f;
$style-primary-color: #565f74;

.v-container {
  margin: 0 auto;
  padding: 10px;
  max-width: 1280px;
}

.v-container-1000 {
  max-width: 1000px;
  width: 100%;
}

.v-container-750 {
  max-width: 750px;
  width: 100%;
}

.v-main {
  background-color: #d2d7df;
}

a {
  color: $style-primary-color !important;
  text-decoration: none;
}
.v-btn,
.v-card,
.v-field,
.v-checkbox {
  border-radius: $style-border-radius !important;
}

.v-btn {
  background-color: $style-primary-color;
  color: #fff !important;
}
.v-selection-control__input > .v-icon {
  color: $style-primary-color !important;
  opacity: 1 !important;
}

input,
.v-text-field {
  color: black !important;
  background-color: #fff;
}

.v-input__details {
  display: none;
}

.v-input {
  margin-bottom: 15px;
}

.vue3-easy-data-table__header th {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 100%;
  color: #888888 !important;
}
.vue3-easy-data-table__body td {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 17px;
  color: #55524f !important;
}
table {
  border: 0 !important;
}
.vue3-easy-data-table {
  border: 0 !important;
}
.vue3-easy-data-table__body a {
  color: $style-primary-color;
}
.easy-data-table__rows-selector .rows-input__wrapper {
  border: 1px $style-primary-color solid !important;
}
.buttons-pagination .item.button.active {
  background-color: rgba(236, 90, 41, 0.25) !important;
  border: none !important;
  min-width: 22px;
}
.buttons-pagination .item {
  border-radius: 10px !important;
  color: $style-text-color !important;
}
.form-label {
  color: #888888;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 100%;
  margin-bottom: 0.5rem;
}
.vue3-easy-data-table__header th {
  text-align: left !important;
}
.v-app-bar.v-toolbar {
  background: $style-drawer-background !important;
  color: #000 !important;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerLogoAndBtn {
  display: flex;
  align-items: center;
}

.headerBtn {
  background-color: #000033;
  height: 80px;
  width: 63px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
}

.v-toolbar-title__placeholder {
  height: 80px;
}

.v-toolbar__content {
  justify-content: space-between;
}

.carsInfo__inputTitle {
  margin-bottom: 15px;
  color: $style-primary-color;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 100%;
}
.mp-0 {
  margin: 0;
  padding: 0;
}
.cursor-pointer {
  cursor: pointer;
}

.inputLabel {
  font-weight: 500;
  font-size: 14px;
  margin-left: 5px;
}

.orderBtn {
  font-size: 10px !important;
  width: 100% !important;
  &:first-child {
    margin-right: 5px !important;
  }
}
.progressCircular {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.v-list {
  border-radius: 10px;
}

.border-default {
  outline: 1px solid $style-primary-color;
}
.page-container {
  background: $style-dark-color-contrast;
  width: 100%;
  height: 100%;
}
.v-card-title {
  border: 1px solid $style-primary-color;
  background-color: rgba(150, 158, 173, 0.4);
}
.customMainBtn {
  display: flex;
  justify-content: center;
  width: fit-content !important;
  margin: 0 auto;
}
.v-card-subtitle {
  font-size: 20px !important;
}

.v-text-field input {
  text-align: center !important;
}

.boldChangeStatusText{
  font-weight: 600;
}

.v-window__container{
  text-align: center;

  .v-row{
    justify-content: center;
  }
}

